body{
    background-color: skyblue;
}
h2{
    border: solid #000;
    border-width: 2px;
    border-color: blue;
    padding: 10px;
}
#p1{
    border: solid #000;
    border-width: 1px;
    border-color: burlywood;
    padding: 5px;
}
#l1{
    border: solid #000;
    border-width: 2px;
    border-color:chartreuse;    
}
#p2{
    border: solid #000;
    border-width: 1px;
    border-color: burlywood;
    padding: 5px;
}
#p3{
    border: solid #000;
    border-width: 1px;
    border-color: burlywood;
    padding: 5px;
}
#l2{
    border: solid #000;
    border-width: 2px;
    border-color:chartreuse;    
}
